@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

   @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  *{
    margin:0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  img{
    vertical-align: middle;
  }
  a{
    text-decoration: none;
    display: inline-block;
  }
  ul,li,ol{
    list-style: none;
  }
  .cartno{
    position: relative;
  }

  .cartno::after{
    content: "2";
    background-color: var(--button_DB4444);
    position: absolute;
    left: 39%;
    top: -50%;
    line-height: 25px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    color: var(--white_color)
  }
}

@layer utilities{
  .container{
    width: 1280px;
    margin: 0 auto;
  }
}


:root{
  --white_color: #FFFFFF;
  --black_363738: #363738;
  --white_F5F5F5: #F5F5F5;
  --white_FEFAF1: #FEFAF1;
  --white_FAFAFA: #FAFAFA;
  --text_7D8184: #7D8184;
  --text_000000: #000000;
  --red: #DB4444;
  --button_00FF66: #00FF66;
  --button_DB4444: #DB4444;
  --hoverbutton_E07575: #E07575;
  --hoverbutton_A0BCE0: #A0BCE0;
  --Poppins: "Poppins", sans-serif;
  --Inter: "Inter", serif;
}


@layer components{
  .menuUnderLine{
    position: relative;
  }

  .menuUnderLine::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--text_7D8184);
    height: 2px;
    width: 100%;
    transform: scale(0);
    transition: all linear 0.2s;
  }
  .menuUnderLine:hover::after{
    transform: scale(1);
    
  }
  .imageshadow{
    position: relative;
    z-index: 1000
  }
  .imageshadow::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    height: 54px;
    width: 54px;
    border-radius: 50%;
    z-index: -1;
    -webkit-box-shadow: 0px 0px 100px 200px rgba(217,217,217,0.245);
    -moz-box-shadow: 0px 0px 100px 200px rgba(217,217,217,0.245);
    box-shadow: 0px 0px 100px 200px rgba(217,217,217,0.245);

  }
}


